.logo {
	max-width: 5rem;
	margin-top: 5px;
	padding: 10px;

}

.meniu {

	/*background-color: rgb(244, 238, 240);
	font-weight: 300;*/

	/*padding-left:1rem;*/
}

.news_title {
	text-decoration: none;
}

h6 {
	color: rgb(111, 79, 101);

}

ul {
	list-style: none;
}



.sections {
	display: inline-block;
}


.outfit {

	width: 300px;
	margin-top: 10px;


}

.perfume{
	width: 330px;
	margin-top: 10px;


}
.celebs {
	width: 200px;
	margin-top: 20px;
	margin-right:25px;
	margin-left:5px;
}

.lifestyle-first {
	width: 200px;
	margin-top: 3px;
}

.lifestyle-second {
	margin-top:-10px;
}

.nav-link {
	color: rgb(111, 79, 101);
}

.nav-link:hover {
	color: rgb(191, 171, 184);
}

.f-content {}

.container {
	display: flex;
	flex-wrap: wrap;
	margin: auto;

}

.footer {
	background-color: #fff;
	padding: 70px 0;

}

.footer-col {
	padding: 0 40px;
}


.footer-col ul li a {

	color: rgb(125, 120, 124);
	text-decoration: none;
	font-weight: 300;
}

