*{
	padding:0 11px;
}

.navbar {



}

.f-style {
	font-style: italic;
	font-family: Impact, Haettenschweilercu, 'Arial Narrow Bold', sans-serif;
	color: rgb(111, 79, 101);
}

.f-style:hover {
	color: rgb(191, 171, 184);
}

.meniu {

	/*background-color: rgb(244, 238, 240);
	font-weight: 300;*/

	/*padding-left:1rem;*/
}
.news_title{
	text-decoration: none;
}

h6 {
	color: rgb(111, 79, 101);

}
ul{
	list-style: none;
}

.outfit{

  width: 350px;

}

.celebs{
	width:200px;
}

.nav-link {
	color: rgb(111, 79, 101);
}

.nav-link:hover {
	color: rgb(191, 171, 184);
}

.f-content {
}

.container{
	display: flex;
	flex-wrap: wrap;
	margin:auto;

}
.footer{
	background:url(./../assets/back.jpg);
	padding:70px 0;

}
.footer-col{
	padding:0 40px;
}


.footer-col ul li a{

	color: rgb(125, 120, 124);
	text-decoration: none;
	font-weight: 300;
}

.social-links{

 }



 @media screen and (max-width:800px){


 }
